.wrap {
  padding-top: 3rem;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.box {
  margin-top: 20px;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
